#container {
  width: 100%;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif; }

header {
  width: 100%;
  margin: 0 auto;
  background-color: #1F2324;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*.fa-search:hover {
  	[type=search] {
  		visibility: visible;
  	}
  }*/ }
  header div {
    float: left; }
  header h1 {
    padding: 0px 30px 30px 30px;
    font-size: 500%; }
  header ul {
    display: inline-block; }
  header li {
    float: left;
    padding: 0px 10px 10px 10px; }
  header a {
    text-decoration: none;
    color: white;
    font-size: 120%; }
  header a:hover {
    color: grey; }
  header [type=search] {
    visibility: hidden;
    width: 100px;
    margin-left: 5px; }

nav {
  width: 100%;
  margin: 0 auto;
  background-color: #F73B4C;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  nav ul {
    display: inline-block; }
  nav li {
    float: left;
    padding: 20px; }
  nav a {
    text-decoration: none;
    color: white;
    font-size: 110%; }
  nav a:hover {
    color: grey; }

#carosel1 {
  width: 100%;
  height: 600px;
  background-image: url("../images/exmachina.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
  overflow: hidden; }
  #carosel1 div {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #CFCCCA; }
    #carosel1 div h1 {
      padding-top: 200px;
      padding-bottom: 30px;
      font-size: 300%; }
    #carosel1 div div {
      display: inline-block;
      margin-top: 10px; }
      #carosel1 div div div {
        width: 150px;
        height: 30px;
        border-radius: 30px;
        border: 2px solid white;
        padding: 10px;
        padding-top: 20px; }
        #carosel1 div div div a {
          text-decoration: none;
          color: white; }
      #carosel1 div div div:hover {
        background-color: #CFCCCA; }

#small-img {
  top: -98px;
  position: relative;
  width: 100%;
  text-align: center; }
  #small-img img {
    height: 100px;
    margin: -5px;
    text-align: center;
    transition: all 0.5s ease; }
  #small-img img:hover {
    transform: scale(1.5, 1.5); }

#radio {
  background-image: url("../images/bg.jpg");
  width: 100%;
  height: 650px;
  background-size: 100% 600px;
  color: white;
  text-align: center;
  position: relative;
  top: -95px; }
  #radio h1 {
    font-size: 200%;
    font-weight: bold;
    padding: 50px; }
  #radio h2 {
    color: #CFCCCA;
    padding: 30px; }
  #radio #list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: justify;
    width: 80%;
    margin: 0 auto; }
  #radio ul {
    width: 25%; }
  #radio ul:last-child {
    margin-top: -100px; }
  #radio li {
    padding: 10px 0px; }
  #radio li:hover {
    color: grey;
    font-weight: bold;
    cursor: pointer; }
  #radio div:last-child {
    width: 150px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid white;
    padding: 10px;
    padding-top: 20px;
    margin: 0 auto;
    margin-top: 30px; }
    #radio div:last-child a {
      text-decoration: none;
      color: white; }
  #radio div:last-child:hover {
    background-color: #CFCCCA; }

#movies {
  background-color: #1F2324;
  color: white;
  width: 100%;
  height: 1250px;
  text-align: center;
  position: relative;
  top: -95px; }
  #movies h1 {
    font-size: 200%;
    font-weight: bold;
    padding: 50px; }
  #movies #images {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    #movies #images li {
      overflow: hidden; }
    #movies #images div {
      text-align: justify;
      position: relative;
      top: -32px; }
    #movies #images a {
      color: white;
      text-decoration: none; }
    #movies #images a:first-child {
      padding-left: 3px; }
    #movies #images a:nth-child(2) {
      margin-left: 70px; }
    #movies #images a:last-child {
      float: right;
      padding-right: 3px; }
    #movies #images p {
      position: relative;
      top: -16px;
      padding-top: 10px; }
    #movies #images p:last-child {
      color: #CFCCCA; }
    #movies #images img {
      transition: all 0.2s ease-in-out; }
    #movies #images img:hover {
      transform: scale(1.1);
      -ms-transform: scale(1.1);
      -webkit-transform: scale(1.1); }
  #movies div:last-child {
    width: 150px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid white;
    padding: 10px;
    padding-top: 20px;
    margin: 0 auto;
    margin-top: 30px; }
    #movies div:last-child a {
      text-decoration: none;
      color: white; }
  #movies div:last-child:hover {
    background-color: #CFCCCA; }

#carosel2 {
  background-image: url("../images/redbg.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  top: -95px; }
  #carosel2 div {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: white; }
    #carosel2 div h1 {
      font-size: 300%;
      font-weight: bold;
      padding: 50px; }
    #carosel2 div img {
      border-radius: 50%; }
    #carosel2 div h2 {
      padding: 15px; }
    #carosel2 div h3 {
      color: #CFCCCA;
      font-style: italic; }
    #carosel2 div h4 {
      padding: 20px 0 50px 0; }

#mail {
  background-image: url("../images/bg.jpg");
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: -95px; }
  #mail h1 {
    font-size: 300%;
    font-weight: bold;
    padding: 30px; }
  #mail #wrap {
    display: inline-block; }
    #mail #wrap div {
      float: left;
      padding-right: 20px; }
    #mail #wrap input, #mail #wrap textarea {
      background-color: #191B22;
      opacity: 0.1;
      border-width: 0px 0px 1px 0px;
      height: 50px;
      font-size: 130%;
      color: white; }
    #mail #wrap input {
      padding-top: 30px;
      width: 550px; }
    #mail #wrap textarea {
      padding-top: 70px;
      width: 98%; }
    #mail #wrap .input {
      position: relative;
      top: -30px;
      left: -230px; }
    #mail #wrap .text {
      position: relative;
      top: -30px;
      left: -500px; }
  #mail div:last-child {
    width: 150px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid white;
    padding: 10px;
    padding-top: 20px;
    margin: 0 auto;
    margin-top: 30px; }
    #mail div:last-child a {
      text-decoration: none;
      color: white; }
  #mail div:last-child:hover {
    background-color: #CFCCCA; }

#map {
  width: 100%;
  height: 500px;
  position: relative;
  top: -95px; }

footer {
  background-color: #1F2324;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #CFCCCA;
  position: relative;
  top: -95px;
  margin-bottom: -95px; }
  footer div {
    display: inline-block; }
  footer div:nth-child(2) {
    color: white; }
  footer span {
    padding: 5px; }

@media all and (max-width: 768px) {
  .col-2 {
    width: 33.33%; }

  header {
    height: 180px; }

  nav {
    text-align: center;
    padding-left: 105px; }

  #movies, #radio, #mail {
    height: auto; }

  #images, #movies #images, #radio #list {
    display: inline-block; }

  #small-img img {
    height: 90px; }

  #radio li {
    padding: 10px 150px; }

  #radio ul {
    width: auto; }

  #mail #wrap .input, #mail #wrap .text {
    left: auto; } }
@media all and (max-width: 500px) {
  .col-2, #radio #list, #mail #wrap div, #mail #wrap input {
    width: 100%; }

  header {
    height: auto; }

  nav {
    padding-left: 0; }

  #small-img img {
    height: 65px; }

  footer {
    display: block; }

  footer div {
    padding: 5px; } }

/*# sourceMappingURL=style.css.map */
